  <app-nav-bar></app-nav-bar>
  <div class="app-container">
    <div class="main-container">
  <app-side-bar></app-side-bar>
      <!-- Main Content -->
      <main class="content">
        <!-- <div class="custom-success " *ngIf="successMessage" >
          {{ successMessage }}
        </div>
         -->
        <div class="content-header">
          <h1 class="content-title">Edit project</h1>
        </div>
<form *ngIf="project" [formGroup]="formProject"  (ngSubmit)="updateProject()"> 
  <div class="form-container">
    <!-- Première ligne -->
    <div class="form-row first-row">
      <div class="form-field-wrapper">
        <label class="form-label" for="projectTitle">Project Title</label>
        <input id="projectTitle" class="form-field" placeholder="Enter project title" formControlName="title">
        <!-- Conteneur pour les messages d'erreur du titre -->
        <div *ngIf="formProject.get('title')?.invalid && formProject.get('title')?.dirty || formProject.get('title')?.touched"
             class="form-error-message active"> 
          <p *ngIf="formProject.get('title')?.hasError('required')">Title is required.</p>
          <p *ngIf="formProject.get('title')?.hasError('minlength')">Title must be at least 3 characters long.</p>
          <p *ngIf="formProject.get('title')?.hasError('invalidTitle')">Title must contain only letters, spaces, hyphens or apostrophes.</p>

        </div>
      </div>

<div class="form-field-wrapper">
        <label class="form-label" for="startDate">Start Date</label>
        <input id="startDate" class="date-field" type="date" formControlName="startDate"
         [ngClass]="{
          'custom-error': formProject.hasError('startAfterEnd') && (formProject.get('startDate')?.touched 
          || formProject.get('endDate')?.touched)
}"

/>
         <div *ngIf="formProject.get('startDate')?.invalid && (formProject.get('startDate')?.touched || formProject.get('startDate')?.dirty)" 
             class="form-error-message active">
          <p *ngIf="formProject.get('startDate')?.hasError('required')">start date is required.</p>
          <p *ngIf="formProject.get('startDate')?.hasError('pastStartDate')">start date must not be in the past.</p>
        </div>
          <div *ngIf="formProject.hasError('startAfterEnd') && formProject.get('startDate')?.touched" 
                 class="form-error-message active">
          <p>start date must be after start date.</p>
          </div>
      </div>

      <div class="form-field-wrapper">
        <label class="form-label" for="endDate">End Date</label>
        <input id="endDate" class="date-field" type="date" formControlName="endDate"
[ngClass]="{
  'custom-error': formProject.hasError('startAfterEnd') && (formProject.get('startDate')?.touched || formProject.get('endDate')?.touched)
}"
/>
         <div *ngIf="formProject.get('endDate')?.invalid && (formProject.get('endDate')?.touched || formProject.get('endDate')?.dirty)" 
             class="form-error-message active">
          <p *ngIf="formProject.get('endDate')?.hasError('required')">End date is required.</p>
          <p *ngIf="formProject.get('endDate')?.hasError('pastEndDate')">End date must not be in the past.</p>
        </div>
          <div *ngIf="formProject.hasError('startAfterEnd') && (formProject.get('endDate')?.touched || formProject.get('endDate')?.dirty)" 
                 class="form-error-message active">
          <p>End date must be after start date.</p>
          </div>
      </div>
    </div>

    <!-- Deuxième ligne (Adaptez de manière similaire) -->
    <div class="form-row second-row">
       <div class="form-field-wrapper">
        <label class="form-label" for="type">Project Type</label>
        <select id="type" class="form-field" formControlName="type">
          <option value="" disabled>-- Select a type --</option> <!-- Ajout de disabled -->
          <option value="Kanban">Kanban</option>
          <option value="Scrum">Scrum</option>
        </select>
        <div *ngIf="formProject.get('type')?.invalid && (formProject.get('type')?.touched || formProject.get('type')?.dirty)" 
             class="form-error-message active">
          <p *ngIf="formProject.get('type')?.hasError('required')">Project type is required.</p>
        </div>
      </div>
      <div class="form-field-wrapper">
        <label class="form-label" for="category">Category</label>
        <select id="category" class="form-field" formControlName="category">
          <option value="" disabled>-- Select a category --</option> <!-- Ajout de disabled -->
          <option value="Development">Development</option> 
          <option value="design">Design</option>
          <option value="marketing">Marketing</option>
        </select>
        <!-- Pas de message d'erreur si pas de validation -->
      </div>
    </div>

    <!-- Description (Adaptez de manière similaire) -->
    <div class="form-field-wrapper">
      <label class="form-label" for="projectDescription">Project Description</label>
      <textarea id="projectDescription" class="description-field" placeholder="Enter a detailed description..." formControlName="description"></textarea>
      <div *ngIf="formProject.get('description')?.invalid && (formProject.get('description')?.touched || formProject.get('description')?.dirty)" 
           class="form-error-message active">
        <p *ngIf="formProject.get('description')?.hasError('required')">Description is required.</p>
        <p *ngIf="formProject.get('description')?.hasError('minlength')">Description must be at least 30 characters long.</p>
      </div>
    </div>

    <!-- Case à cocher pour autoriser l'annulation -->
<div class="form-field-wrapper">
  <div class="checkbox-container">
    <input id="allowCancel" type="checkbox" formControlName="allowCancel" class="form-checkbox">
    <label for="allowCancel" class="form-label checkbox-label">Allow setting status to 'Canceled'</label>
  </div>
</div>


    <!-- Boutons d'action -->
    <div class="action-buttons">
      <button class="create-button" type="submit" [disabled]="formProject.invalid">Save</button>
      <button type="reset" class="delete-button">Cancel</button>
    </div>

  </div>
</form>


        
        
      </main>
    </div>
  </div>
    <!-- Exemple de notification de succès -->
  <div class="custom-success">Project created successfully!</div>


