<div class="app-container">
    <div class="main-container">
        <app-side-bar></app-side-bar>
        <!-- Main Content -->
        <main class="content">
            <div class="content-header">
                <div class="control-section">
                    <div class="content-wrapper">
                        <button ejs-button id='addNew' class="e-dialog-add add-task-button fab" (click)="addClick()">
                        <span class="fab-text">Add New Task</span></button>
                        <app-task-filter
                            [users]="users"
                            (filterChange)="onFilterChange($event)">
                        </app-task-filter>
                        <ejs-kanban #kanbanObj cssClass='kanban-overview'  keyField="Status" [dataSource]='kanbanData'
                            [cardSettings]='cardSettings' enableTooltip='true'  enableVirtualization="true"       (dialogOpen)="onOpen($event)"
 
                         (cardRendered)='cardRendered($event)' (dragStop)='OnDragStop($event)' (cardDrop)='onCardDrop($event)'   (created)='onKanbanCreated()' (dataSourceChanged)="dataSourceChanged($event)" (cardDoubleClick)="cardDoubleClick($event)" >>
                        <e-columns>
                            <e-column *ngFor="let column of columns" [headerText]="column.headerText" [keyField]="column.keyField"
                                [allowToggle]="column.allowToggle">
                                <ng-template #template let-data>
                                    <div class="header-template-wrap">
                                        <div class="header-icon e-icons {{data.keyField}}"></div>
                                        <div class="header-text">{{data.headerText}}</div>
                                    </div>
                                </ng-template>
                            </e-column>
                        </e-columns>
                            <ng-template #cardSettingsTemplate let-data>
                                <div class='card-template'>
                                    <div class='e-card-header'>
                                        <div class='e-card-header-caption'>
                                            <div class='e-card-header-title e-tooltip-text'>{{data.Title}}</div>
                                        </div>
                                    </div>
                                    <div class='e-card-content e-tooltip-text'>
                                        <div class='e-text'>{{data.Summary}}</div>
                                    </div>
                                    <div class='e-card-custom-footer'>
                                        <div class='e-link-wrapper'>
                                           <span class='e-{{data.Type.toLowerCase()}}' title={{data.Type}}></span>
                                        </div>
                                        <div class="e-card-tag-field e-tooltip-text" *ngFor="let tag of data.Tags.split(',');">{{tag}}
                                        </div>
                                         <div class='e-priority e-{{data.Priority.toLowerCase()}}-icon' title='{{data.Priority}}'></div>
                                         <div class='e-card-avatar' title='{{data.Assignee}}'> {{getString(data.Assignee)}}</div>
                                    </div>
                                </div>
                            </ng-template>
                         
                        </ejs-kanban>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
 
 