  <!-- <div class="app-container">
    <div class="main-container">
      <app-side-bar></app-side-bar> -->

      <!-- Main Content -->
      <!-- <main class="content">
        <div class="custom-success " >
          
        </div>
        
        <div class="content-header">
          <h1 class="content-title">Projects</h1>
        </div>
        <div class="projects-container"> -->

             <!-- Section User Stories -->
        <!-- <section class="column" id="user-story">
            <h2>User Stories</h2>
            <div class="task">User Story 1: En tant qu'utilisateur, je veux pouvoir me connecter.</div>
            <div class="task">User Story 2: En tant qu'utilisateur, je veux chercher des produits par catégorie.</div>
        </section> -->

        <!-- Section Sprint -->
        <!-- <section class="column" id="sprint">
            <h2>Sprint</h2>
            <div class="task">Sprint 1: Développer la fonctionnalité de connexion utilisateur.</div>
            <div class="task">Sprint 2: Implémenter la recherche par catégorie.</div>
        </section> -->

        <!-- Section Backlog -->
        <!-- <section class="column" id="backlog">
            <h2>Backlog</h2>
            <div class="task">User Story 3: En tant qu'utilisateur, je veux consulter l'historique de mes achats.</div>
            <div class="task">User Story 4: En tant qu'utilisateur, je veux réinitialiser mon mot de passe.</div>
        </section> -->

       <!-- Section Préparation de Cérémonie -->
<!-- <section class="column" id="">
    <h2>Préparation des Cérémonies Scrum</h2>
    <div class="task">Daily Stand-up : Suivi des points à aborder aujourd'hui.</div>
    <div class="task">Sprint Planning : Liste des tâches à planifier pour ce sprint.</div>
    <div class="task">Sprint Review : Préparer les livrables à présenter.</div>
    <div class="task">Sprint Retrospective : Points d'amélioration à discuter.</div>
</section> -->

  
       
        <!-- </div> -->
       
        <!-- Pagination -->
        <!-- <div class="pagination">
          <button class="pagination-btn prev" ></button>
        
          <button
            class="pagination-btn page"
           >
            
          </button>
        
          <button class="pagination-btn next"  >Next</button>
        </div>
    </main>
  </div>
  </div> -->

  
      

      
    
 






