
  .form-error-message {
    min-height: 20px;
    color: red;
    font-size: 0.875rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
  }

  .form-error-message p {
  margin: 0;
}


  .input-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  
  
.project-form-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 3rem;
    
  }
  .page-title {
    margin-top: 3%;
    align-self: flex-start;
    margin-left: 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
   color: rgba(154, 147, 179, 1);
   font-size: 20px;
  
  }
   
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
    margin-top: 3.25rem;
    width: 90%;
    margin-left: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    align-self: stretch;
  }
  
  .form-group-row {
    max-width: 100%;
  }
  
  .form-group-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #1A89C7;
    width: 390px;
  }
  
  .form-group-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    margin-top: 0.625rem;
  }
  
  .form-field {
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    border-radius: 1rem;
    border: 2px solid #d4d4d8;
    height: 42px;
    width: 260px;
  }
  
  .form-group-date {
    display: flex;
    flex-direction: column;
    color: #1A89C7;
  }
  
  .form-label {
     color: #1A89C7;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 100;
  }
  
  .date-field {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 0.550rem;
    margin-top: 0.625rem;
    font-size: 0.75rem;
    line-height: 1.5rem;
    white-space: nowrap;
    border-radius: 1rem;
    border: 2px solid #d4d4d8;
    
  }
  
  .calendar-icon {
    object-fit: contain;
    flex-shrink: 0;
    margin: auto 0;
    aspect-ratio: 1;
    width: 15px;
  }
  
  .form-group {
    margin-top: 2rem;
  }
  
  .description-field {
    display: flex;
    flex-shrink: 0;
    align-self: stretch;
    margin-top: 0.625rem;
    border-radius: 1rem;
    border: 2px solid #d4d4d8;
    height: 100px;
    width: 930px;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.4;
   
  }
  
  .action-buttons {
    display: flex;
    gap: 1.75rem;
    align-self: flex-end;
    margin-top: 2rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    margin-top: 3%;
  }
  
  .create-button {
    gap: 0.25rem;
    align-self: stretch;
    padding: 1rem 2rem;
    color:#8BC34A  ;
    background-color:#ebf7da;
    border-radius: 1rem;
    min-height: 1rem;
    border: #8BC34A;
    

  }
  
  .delete-button {
    gap: 0.25rem;
    align-self: stretch;
    padding: 1rem 2rem;
    color: #1A89C7;
    border-radius: 1rem;
    border: #1A89C7;
    background-color: #cdebfc;
    min-height: 3.5rem;
  }
  
  @media (max-width: 768px) {
    .project-form-container {
      margin-top: 2.5rem;
    }
  
    .page-title {
      margin-left: 0.625rem;
    }
  
    .form-container {
      padding: 1.25rem;
      margin-top: 2.5rem;
    }
  
    .action-buttons {
      margin-top: 2.5rem;
    }
  }
  