<div class="body">
  <header class="navbar">
    
    <div class="navbar-container">
     
      <h2 class="navbar-logo">  
        <img src="../../assets/images/logo1.png" width="60" height="40"> 
       <span>Orkestra</span>
      </h2>
      
      <div class="navbar-content">

        <div class="search-container">
          <input type="text" class="search-input" placeholder="Search for anything...">
        </div>
        <div class="user-profile">
          <div class="user-info">
            <p class="user-name">Anima Agrawal</p>
            <p class="user-location">U.P, India</p>
          </div>
          <div class="avatar-container">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c8c221ac2b6b34bf4563b958947bf263d59342d6?placeholderIfAbsent=true&apiKey=162bd29db7454c7cad421cab5ddd86ce" alt="User profile" class="user-avatar">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

