<div class="body">
  <header class="navbar">
    
    <div class="navbar-container">
     
      <h2 class="navbar-logo">  
        <img src="../../assets/images/logo1.png" width="60" height="40"> 
       <span>Orkestra</span>
      </h2>
      
      <div class="navbar-content">

        <div class="search-container">
          <input type="text" class="search-input" placeholder="Search for anything...">
        </div>
        <div class="user-profile">
          <div class="user-info">
            <p class="user-name">{{user?.firstname}} {{user?.lastname}}</p>
            <p class="user-location">U.P, India</p>
          </div>
          <div class="avatar-container">
            <img [src]="'http://localhost:5000/uploads/' + user?.photo" alt="User profile" class="user-avatar">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

