<!-- <div class="overlay" *ngIf="visible">
    <div class="popup">
      <h2>Confirmation</h2>
      <p>Êtes-vous sûr de vouloir supprimer ce projet ?</p>
      <div class="buttons">
        <button class="confirm" (click)="confirm()">Oui</button>
        <button class="cancel " (click)="close()">Annuler</button>
      </div>
    </div>
  </div>
   -->

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

   <div class="overlay" *ngIf="visible">
    <div class="popup">
      <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
      <h2 class="popup-title">Are you sure?</h2>
      <p>This action cannot be undone.</p>
      <div class="buttons">
        <button class="confirm" (click)="confirm()">Yes, Delete</button>
        <button class="cancel" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
  